name: Python CI

on:
  push:
    branches: 
    - main 
  pull_request:

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Afficher Hello
        run: echo "Hello CICD"

      

     
      